<div id="contact">

    <div  class="cm-contact-section">

    <div class="row">
    <div class="col-sm-12">
    <h2><i class="fa fa-envelope-o" aria-hidden="true"></i> Get In Touch</h2>
    </div>
    </div>
    
    <div class="row">
    <div class="col-sm-2"></div>
    
    <div class="col-sm-8">
    <form>
    
    <div class="feild hs-name">
        <label>Enter Your Name</label> 
    <div class="input"><input required="" type="text"></div>
    </div>
    
    <div class="feild hs-email">
        <label>Email Adrdress</label> 
    <div class="input"><input required="" type="email"></div>
    </div>
    
    <div class="feild hs-subject">
        <label>Subject</label> 
    <div class="input"><input required="" type="text"></div>
    </div>
    
    <div class="feild hs-message">
        <label>Message</label>
    <div class="input"><textarea required=""></textarea></div>
    </div>
    <div  class="col-sm-2"></div>
    
    <div class="row">
    <div class="col-sm-12"><button type="submit" class="btn btn-warning">Submit <i class="material-icons">arrow_forward_ios</i></button></div>
    </div>
    </form>
    <p>&copy; 2017 Made By Karan</p>
    </div>
    </div>
    </div>   
</div>