
<div class="container">
<app-header></app-header>
<nav class="menu" id="nav">
  <ul>
    <li style="display:none;"><a href="#hero-section"  class="nav-link"></a></li>
    <li><a href="#about"  class="nav-link" data-toggle="tooltip" title="About"><i class="fa fa-user-o" aria-hidden="true"></i></a></li>
    <li><a href="#skill" class="nav-link" data-toggle="tooltip" title="Skill"> <i class="fa fa-lightbulb-o" aria-hidden="true"></i></a></li>
    <li><a href="#education" class="nav-link" data-toggle="tooltip" title="Education"> <i class="fa fa-graduation-cap" aria-hidden="true"></i></a></li>
    <li><a href="#protfolio" class="nav-link" data-toggle="tooltip" title="Protfolio"><i class="fa fa-briefcase" aria-hidden="true"></i></a></li>
    <li><a href="#exprience" class="nav-link" data-toggle="tooltip" title="Exprience"><i class="fa fa-pencil" aria-hidden="true"></i> </a></li>
    <li><a href="#contact" class="nav-link" data-toggle="tooltip" title="Contact"><i class="fa fa-envelope-o" aria-hidden="true" ></i></a></li>
    
    
  </ul>
</nav>

<router-outlet></router-outlet>
<app-footer></app-footer>
</div>