
<section class="hero-section" id="hero-section">
    <div class="row">
        <div class="col-lg-12">
                        
            <h2 class="hi">Hello.</h2>
            <p class="name">My name is Karan</p>
            <small class="position mb-30">&amp; I am a Web designer or Devloper</small>
                        
        </div>
    </div>
    
</section>

<section id="about" class="about-section">
   <div class="header-section">
            <h2>
              <i class="fa fa-user-o" aria-hidden="true"></i>
              About me
            </h2>
            <p>
              Hello,I’m Karan A Creative Web Designer &amp; Devloper  or you may call me Full Stack Devloper Experience Desiger Lives in Delhi, I create Responsive and Beautiful Website. and always eager to learn new technologies 
            </p>
          </div>
          <!-- /.Section-title -->
    
          <div class="personal-details-area">
            <div class="row">
              <div class="col-lg-12">
                <div class="personal-details">
                  <h4 class="title">Personal details</h4>
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>Full Name</td>
                        <td>:</td>
                        <td>Karan Kumar</td>
                      </tr>
                      <tr>
                        <td>Address</td>
                        <td>:</td>
                        <td>Street no  15 House No 213 -Dakshinpuri New Delhi 62</td>
                      </tr>
                      <tr>
                        <td>Pin Code</td>
                        <td>:</td>
                        <td>110062</td>
                      </tr>
                      <tr>
                        <td>Phone</td>
                        <td>:</td>
                        <td>+91 - 9873812753</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td>:</td>
                        <td>karanjalendere@gmail.com</td>
                      </tr>
                      
    
                    </tbody>
                  </table>
                </div>
                </div>
            </div>
            <!-- row -->
          </div>
          <!-- /.personal-details-area -->
        
</section>
<section id="skill" class="skill-section">
          <div class="header-section">
            <h2>
            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
              My Skills
            </h2>
            
           </div>
           <!-- /.Section-title -->
     
           <div class="professional-skills-area">
              <h4 class="title">Professional Skills</h4>
             <div class="row">
               <div class="col-lg-6">
                  <div class="progress">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60"
                      aria-valuemin="0" aria-valuemax="100" style="width:60%">
                        60% Photoshop
                      </div>
                   </div>
                   <br>
                   <div class="progress">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40"
                      aria-valuemin="0" aria-valuemax="100" style="width:40%">
                        40% Dreamweaver
                      </div>
                   </div>
                   <br>
                   <div class="progress">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90"
                      aria-valuemin="0" aria-valuemax="100" style="width:90%">
                        90% Wordpress
                      </div>
                   </div>
                   <br>
                   
                   <div class="progress">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60"
                      aria-valuemin="0" aria-valuemax="100" style="width:60%">
                        60% Bootsrap  
                      </div>
                   </div>
                   <br>
                   <div class="progress">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100" style="width:80%">
                        80% Hubspot
                      </div>
                   </div>
                   <br>
                   <div class="progress">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50"
                      aria-valuemin="0" aria-valuemax="100" style="width:50%">
                        50% Node Js
                      </div>
                   </div>
                 
                 </div>
                 <div class="col-lg-6">
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90"
                        aria-valuemin="0" aria-valuemax="100" style="width:90%">
                          90% Html 5
                        </div>
                     </div>
                     <br>
                     <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90"
                        aria-valuemin="0" aria-valuemax="100" style="width:90%">
                          90% Css3
                        </div>
                     </div>
                     <br>
                     <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100" style="width:70%">
                          70% Jquery
                        </div>
                     </div>
                     <br>
                     <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100" style="width:50%">
                          50% Javascript
                        </div>
                     </div>
                     <br>
                     <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100" style="width:50%">
                          50% TypeScript
                        </div>
                     </div>
                     <br>
                     <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60"
                        aria-valuemin="0" aria-valuemax="100" style="width:60%">
                          60% Angular
                        </div>
                     </div>
                   
                   </div>
             </div>
             <!-- row -->
           </div>
           <!-- /.Professional-Skills-area -->
           <div class="language-skills">
             <br>
              <h4 class="title">Language Skills</h4>
              <div class="row">
                <div class="col-lg-4">
                  <h5>Hindi</h5>
                  <div class="progress">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90"
                      aria-valuemin="0" aria-valuemax="100" style="width:90%">
                        90%
                      </div>
                   </div>
                    
                </div>
                <div class="col-lg-4">
                    <h5>English</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90"
                        aria-valuemin="0" aria-valuemax="100" style="width:60%">
                          60%
                        </div>
                     </div> 
                  </div>
              </div>
           </div>
 </section>

 <!--Education Section-->
<section id="education" class="education-section">
  <div class="header-section">
    <h2>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      Education
    </h2>
    <div class="education-col">
        <div class="row">
            <div class="col-lg-12">
              <div class="accordion-header">
                <span class="icon">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </span>
                <p>
                  <strong>Master of Computer Application</strong> - Pursuing in Mca Second Year from  - 2016
                </p>
              </div>
              <div class="accordion-header">
                <span class="icon">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </span>
                <p>
                  <strong>Bachelor of Commerce</strong> - From Shaits in - 2016
                </p>
              </div>
              <div class="accordion-header">
                <span class="icon">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </span>
                <p>
                  <strong>Diploma  in Web Design</strong> - form Nirnaye Polytechnic in - 2014
                </p>
              </div>
              <div class="accordion-header">
                <span class="icon">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </span>
                <p>
                  <strong>12<sup>th</sup>  </strong> - form  cbse board in - 2013
                </p>
              </div>  
          
          </div>

            
      </div>
    </div>
    
   </div>
</section>

<!--My Protfolio Section-->
<section id="protfolio" class="protfolio-section">
  <div class="header-section">
    <h2>
      <i class="fa fa-briefcase" aria-hidden="true"></i>
      My Portfolio
    </h2>
   </div>
   <div class="row">
     <div class="col-lg-5">
       <div class="protfolio-item mean" style="background-image:url(/assets/images/mean.png)" >
        <h3 class="p-title">Mean</h3> 
        <a [routerLink]="['/categeory/mean']" class="p-link" ><i class="fa fa-link" aria-hidden="true"></i></a>
       </div>  
     </div>
     <div class="col-lg-7">
        <div class="row">
          <div class="col-lg-6">
              <div class="protfolio-item" style="background-image:url(/assets/images/hubspot.png)" >
                <h3 class="p-title">Hubspot</h3> 
                <a [routerLink]="['/categeory/hubspot']" class="p-link" ><i class="fa fa-link" aria-hidden="true"></i></a>
               </div>  
          </div>
          <div class="col-lg-6">
               <div class="protfolio-item" style="background-image:url(/assets/images/angular.png)" >
                <h3 class="p-title">Angular</h3> 
                <a [routerLink]="['/categeory/angular']" class="p-link" ><i class="fa fa-link" aria-hidden="true"></i></a>
               </div>  
          </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="protfolio-item" style="background-image:url(/assets/images/wordpress.png)" >
                  <h3 class="p-title">Wordpress</h3> 
                  <a [routerLink]="['/categeory/wordpress']" class="p-link" ><i class="fa fa-link" aria-hidden="true"></i></a>
                 </div>  
            </div>
            <div class="col-lg-6">
                 <div class="protfolio-item" style="background-image:url(/assets/images/bootstrap.png)" >
                  <h3 class="p-title">Bootstrap</h3> 
                  <a [routerLink]="['/categeory/bootstap']" class="p-link" ><i class="fa fa-link" aria-hidden="true"></i></a>
                 </div>  
            </div>
          </div>
     </div>
   </div>
   <div class="row">
     <div class="col-lg-4">
        <div class="protfolio-item" style="background-image:url(/assets/images/express.png)" >
          <h3 class="p-title">Express</h3>
          <a [routerLink]="['/categeory/express']" class="p-link" ><i class="fa fa-link" aria-hidden="true"></i></a> 
         </div> 
     </div>
     <div class="col-lg-8">
        <div class="protfolio-item" style="background-image:url(/assets/images/firebase.png)" >
          <h3 class="p-title">Firebase &amp; Angular</h3> 
          <a [routerLink]="['/categeory/firebase']" class="p-link"><i class="fa fa-link" aria-hidden="true"></i></a>
         </div> 
     </div>
     
   </div>
   <div class="row">
      <div class="col-lg-4">
         <div class="protfolio-item" style="background-image:url(/assets/images/magento.png)" >
           <h3 class="p-title">Magento</h3>
           <a [routerLink]="['/categeory/magento']" class="p-link" ><i class="fa fa-link" aria-hidden="true"></i></a> 
          </div> 
      </div>
      <div class="col-lg-4">
         <div class="protfolio-item" style="background-image:url(/assets/images/php.png)" >
           <h3 class="p-title">Php</h3> 
           <a [routerLink]="['/categeory/php']" class="p-link"><i class="fa fa-link" aria-hidden="true"></i></a>
          </div> 
      </div>
      <div class="col-lg-4">
          <div class="protfolio-item" style="background-image:url(/assets/images/misc.png)" >
            <h3 class="p-title">Misc...</h3>
            <a [routerLink]="['/categeory/misc...']" class="p-link" ><i class="fa fa-link" aria-hidden="true"></i></a> 
           </div> 
       </div>
      
    </div>
</section>

<!--Exprience Section-->
<section id="exprience" class="exprience-section">
  <div class="header-section">
    <h2>
      <i class="fa fa-pencil" aria-hidden="true"></i>
      Work Experience
    </h2>
   </div>
   <div class="timeline">
    <div class="tm-container left">
      <div class="content">
        <h2>From Dec 2015</h2>
        <p>Working as a Web Designer</p>
        <p><a class="btn btn-danger" href="http://thewebplant.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i> Thewebplant</a></p>
      </div>
    </div>
    <div class="tm-container right">
      <div class="content">
        <h2>From Mar 2015 to Dec 2015</h2>
        <p>Worked as a Web Designer</p>
        <p><a class="btn btn-danger" href="http://digiiq.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i> Digihive Solutions Pvt Ltd</a></p>
      </div>
    </div>
    <div class="tm-container left">
      <div class="content">
        <h2>From May 2014 to Nov 2014</h2>
        <p>Worked  as a Project Executive</p>
        <p><a class="btn btn-danger" href="http://www.contentratechnologies.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i> Contentra Technologies</a></p>
      </div>
    </div>
  </div>

</section>